header {
	background-color: blue;
	height: 20px;
	margin-top: 2px;
	position: top;
}
body{
	min-width:100%!important
	background-color: darkred;
}
body{
	margin:0;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	color:#212529;
	text-align:left;
	background-color:red;
	}

[tabindex="-1"]:focus{outline:0!important}

h5{
	font-size: 15px;
	color: whitesmoke;
	font-family: times new rowman;
}
h4{
	margin-top: 0px;
	height: 20px;
}
p {
	margin-top: 0px;
}
br{
	height: 1px;
}
footer{
	font-family: 'Libre Franklin', sans-serif;
    background-color: grey;
    color: white;
}
.carousel-indicators .active{
	opacity:1
}
.carousel-caption{
	position:absolute;
	right:15%;
	bottom:20px;
	left:15%;
	z-index:10;
	padding-top:20px;
	padding-bottom:20px;
	color:#fff;
	text-align:center
}
	


